<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renjun.ems.dao.EmpDao">

    <select id="findAllEmp" resultType="Emp">
        select * from t_emp
    </select>

    <insert id="addEmp" parameterType="Emp">
        insert into t_emp values (#{id},#{name},#{salary},#{age})
    </insert>

    <delete id="deleteEmp" parameterType="string">
        delete from t_emp where id = #{empId}
    </delete>

    <select id="findEmpById" resultType="Emp">
        select * from t_emp where id = #{empId}
    </select>

    <update id="updateEmpInfo" parameterType="emp">
        update t_emp set name = #{name}, salary=#{salary}, age=#{age} where id = #{id}
    </update>

</mapper>